<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" stopOnFailure="false" processIsolation="false" backupGlobals="false" columns="max" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
  <testsuite name="OFX Parser unit tests">
    <directory>./tests</directory>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
  </source>
</phpunit>
